/* This is the body of the document */
li{
    list-style: none;
}

ul{
    display: flex;
    margin: 0px;
    gap: 15px;
    padding-bottom: 0px;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:0;
}

.sign_up{
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    font-size: 15px;
    width: 100; 
    height: 30px;
    border-radius: 10px; 
    padding: 5px;  
}

/* This is the start of the first part */


.first_page{
    display: flex;
    flex-direction: column;
    /* justify-content: baseline; */
    background-color: #1f2937;
    /* height: 50vh; */
    margin: 0px;
    padding-bottom: 70px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 770px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    white-space: nowrap;
}

.link{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

#body1{
    display: flex;
    justify-content: center;
    gap: 220px; 
}

#content1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    width: 500;
   }


#title1{
    font-size:48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
}

#text1{
    color: #E5E7EB;
    font-size: 18px; 
    margin: 0px;   
}

#first{
    max-width: 580px;
    height: auto;
    margin-top: 42px;
}

/* This is the end of the first part */

/* This is the tart of the second part */

.second_page{
    display: flex;
    padding-bottom: 60px;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

#header2{
    display: flex;
    margin: 0px;
    justify-content: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
    }

#content2{
    display: flex;
    gap: 80px;
    }

.combo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.foto /*img div class*/ {
    display: flex;
    max-width: 180px;
    max-height: 180px;
    border: 5px solid #3882f6;
    background-color: #3882f6; 
    border-radius: 10px;
}

.fotos /*img class*/ {
    max-width: 100%;
    height: auto;
    object-fit: fill;
    border-radius: 10px;
    border: #1f2937;
}

.fotos_text{
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    text-align: center;
    color: gray;
    font-size: smaller;
}



/* This is the end of the second part */

/* This is the tart of the third part */

 .third_page{
    display: flex;
    background-color: #e5e7eb;
    height: 50vh;
    margin: 0px;
    align-items: center;
    justify-content: center;
}

#block{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

#quote{
    display: flex;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-weight: light;
    max-width: 1100px;
    height: auto;
    flex-wrap: wrap;
}

#cite{
    display: flex;
    font-weight: bold;
}

/* end of third page */

/* beggining of fourth page */

.fourth_page{
    display: flex;
    height: 43vh;
    justify-content: center;
    align-items: center;
}

#content3{
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 60px 80px;
    gap: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

#title4{
    font-weight: bolder;
    font-size: large;
}

#words4{
    font-size: smaller;
}

#boton{
    font-weight: bold;
    font-size: 18px;
    width: 100; 
    height: 40px;
    border-radius: 10px; 
    padding: 5px;  
}


/* end of fourth page */

/* Beggining of fith page */

.fith_page{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
