/* This is the start of the first part */

li{
    list-style: none;
}

ul{
    display: flex;
    margin: 0px;
    gap: 15px;
    padding-bottom: 0px;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 200vh;
    margin:0;
    padding: 0px;
    gap: 0px;
}

.link{
    outline: none;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
}

.first_page{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    /* padding-left: 275px;
    padding-right: 275px; */
    background-color: #1f2937;
    height: 50vh;
    margin: 0px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding-left: 270px;
    padding-right: 270px;
    flex-wrap: wrap;
    margin-left: 0px;
}

#content1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px;
    margin-top: 50px;
    width: 400;
    flex-wrap: wrap;
   }


#title1{
    font-size:48px;
    font-weight: bolder;
    color: #F9FAF8;
    line-height: 45px;
    display: flex;
    flex-wrap: wrap;
    width: 500;
    margin: 0px;
}

#text1{
    color: #E5E7EB;
    font-size: 18px; 
    display: flex;
    margin: 0px;   
}

/* #mountain{
    display: flex;
    padding-top: 35px;
    flex-wrap: wrap;
} */

#first{
    max-width: 600px;
    height: auto;
}

#body1{
    display: flex;
    justify-content: center;
    gap: 200px;
    
}

.sign_up{
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    font-size: 15px;
    width: 100; 
    height: 30px;
    border-radius: 10px; 
    padding: 5px;  
}

/* This is the end of the first part */

/* This is the tart of the second part */

.second_page{
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

#header2{
    display: flex;
    margin: 0px;
    justify-content: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
    }

#content2{
    display: flex;
    gap: 80px;
    }

.combo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.foto /*img div class*/ {
    display: flex;
    max-width: 180px;
    max-height: 180px;
    border: 5px solid #3882f6;
    background-color: #3882f6; 
    border-radius: 10px;
}

.fotos /*img class*/ {
    max-width: 100%;
    height: auto;
    object-fit: fill;
    border-radius: 10px;
    border: #1f2937;
}

.fotos_text{
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    text-align: center;
    color: gray;
    font-size: smaller;
}



/* This is the end of the second part */

/* This is the tart of the third part */

 .third_page{
    display: flex;
    background-color: #e5e7eb;
    height: 50vh;
    margin: 0px;
    align-items: center;
    justify-content: center;
}

#block{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

#quote{
    display: flex;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-weight: light;
    max-width: 1100px;
    height: auto;
    flex-wrap: wrap;
}

#cite{
    display: flex;
    font-weight: bold;
}

/* end of third page */

/* beggining of fourth page */

.fourth_page{
    display: flex;
    height: 43vh;
    justify-content: center;
    align-items: center;
}

#content3{
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    width: 90vh;
}
